*{
    margin: 0;
    padding: 0;
}

.canva{
    border: 3px solid black;
}

.hidden{
    display: none;
}

h2 {
    color: #ff09ad;
	font: 72px 'Sansita One';
	text-align: center;
	text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
}

.container  {
    background-color: aquamarine;
    text-align: center;
}

label {
    font-size: 22px;
    font-weight: bold;
}

#errorColoresSeleccionados{
    color: red;
    text-decoration-line: underline;
}

button {
    background-color: white;
    border: 3px solid gray;
    border-radius: 4px;
    font-size: 18px;
}

select {
    background-color: white;
    border: 3px solid gray;
    border-radius: 4px;
    font-size: 18px;
}

#playerWinMessageContainer{ 
    height: 1000px;
}

h3, label{
    font-family: sans-serif;
}