.hidden{
    display: none;
}

body{
    background-image: url("../images/webBackground.jpg");
}

/*---------------------------------------- Game ----------------------------------------*/

button {
    border: 10px ridge brown;
    margin: 10px;
    background-color: salmon;
    font: 36px 'Courier';
    font-weight: bold;
}
.game{
    display: flex;
    justify-content: center;
}

p{
    color: salmon;
	font: 36px 'Courier';
	text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
    font-weight: bold;
}

.playButtonDiv{
    display: flex;
    justify-content: center;
}

#instructions{
    text-align: center;
    border: 10px ridge brown;
    margin: 10px;
    background-color: salmon;
    font: 20px 'Courier';
}

h3{
    margin: 0;
}

#endScreen{
    display: flex;
    justify-content: center;  
}

h1{
    color: salmon;
	font: 60px 'Courier';
	text-shadow: 3px 3px 0px #393D48, 6px 6px 0px #5c5f72;
    font-weight: bold;
}

#playerSelectionDiv{
    background-color: salmon;
    border: 10px ridge brown;
    margin: 0 29%;
}

.textPlayerSelection{
    font: 30px 'Courier'; 
    font-weight: bold;
    text-align: center;
}

.playerSelectionButtonsDiv{
    display: flex;
    justify-content: center;
}

#playerSelectionButton{
    width: 83px;
    height: 148px;
    background: url('../images/marioSheet.png') left center;
    animation: idle 1s steps(2) infinite;
}

#player2SelectionButton{
    width: 83px;
    height: 148px;
    background: url('../images/marioSheet.png') left center;
    animation: idle2 1s steps(2) infinite;
}
/*---------------------------------------- Background ----------------------------------------*/

.background{
    border: 10px ridge brown;   
    position: absolute;
    background-attachment: fixed;
    background: url("../images/background.png") repeat;
    width: 1024px;
    height: 960px;
    z-index: -7;
    animation: backgroundMove 4s linear infinite;
    animation-play-state: paused;
}

#cloud {
    width: 100%;
    height: 92px;
    position: absolute;
    top: 180px;
    background: url("../images/cloud.png") center;
    z-index: -6;
    animation: backgroundMove 15s linear infinite;
    animation-play-state: paused;
}

#mountain {
    width: 100%;
    height: 140px;
    position: absolute;
    top: 692px;
    background: url("../images/mountain.png");
    z-index: -5;
    animation: backgroundMove 25s linear infinite;
    animation-play-state: paused;
}

#plant {
    width: 100%;
    height: 61px;
    position: absolute;
    top: 771px;
    background: url("../images/plant.png");
    z-index: -4;
    animation: backgroundMove 6s linear infinite;
    animation-play-state: paused;
}

@keyframes backgroundMove {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -1024px 0px;
    }
}

/*---------------------------------------- Player 1 ----------------------------------------*/

.playerIdle{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: idle 1s steps(2) infinite;
}

@keyframes idle {
    0% { background-position: -721px -208px;}
    100% {background-position: -953px -208px;}
}

.playerRun{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px; 
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: run 0.5s steps(3) infinite;
}

@keyframes run {
    0% { background-position: -956px -208px;}
    100% {background-position: -1328px -208px;}
}

.playerJump{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: jump 0.75s steps(7);
}

.playerLongJump{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: jump 1.25s steps(7);
}

@keyframes jump {
    0% {background-position: -1436px -208px;}
    12.5% {top:644px; background-position: -1436px -208px;}
    25% {top:584px; background-position: -1436px -208px;}
    37.5% {top:524px; background-position: -1436px -208px;}
    50% {top:464px; background-position: -1436px -208px;}
    62.5% {top:524px; background-position: -1436px -208px;}
    75% {top:584px; background-position: -1436px -208px;}
    87.5% {top:644px; background-position: -1436px -208px;}
    100% {background-position: -1436px -208px;}
}

.player1Death{
    width: 64px;
    height: 92px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: death 2s steps(2);
}

@keyframes death {
    0% {background-position: -0px -225px;}
    6.25% {top:621px;}
    12.5% {top:538px;}
    18.75%{top:455px;}
    25% {top:372px;}
    31.25% {top:289px;}
    34.375% {top:247.5px;}
    37.5% {top:289px;}
    43.75% {top:372px;}
    50% {top:455px;}
    56.25% {top:538px;}
    62.5% {top:621px;}
    68.75% {top:704px;}
    75% {top:787px;}
    81.25% {top:870px;}
    87.5% {top:953px}
    93.75% {top:1036px;}
    100% {background-position: -3110px -225px;}
}

/*---------------------------------------- Player 2 ----------------------------------------*/

.player2Idle{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: idle2 1s steps(2) infinite;
}

@keyframes idle2 {
    0% { background-position: -721px -488px;}
    100% {background-position: -953px -488px;}
}

.player2Run{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: run2 0.5s steps(3) infinite;
}

@keyframes run2 {
    0% { background-position: -946px -488px;}
    100% {background-position: -1248px -488px;}
}

.player2Jump{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: jump2 0.75s steps(7);
}

.player2LongJump{
    width: 64px;
    height: 128px;
    position: absolute;
    left: 80px;
    top: 704px;
    background: url('../images/marioSheet.png') left center;
    z-index: 0;
    animation: jump2 1.25s steps(7);
}

@keyframes jump2 {
    0% {background-position: -1448px -488px;}
    12.5% {top:629px; background-position: -1448px -488px;}
    25% {top:569px; background-position: -1448px -488px;}
    37.5% {top:509px; background-position: -1448px -488px;}
    50% {top:449px; background-position: -1448px -488px;}
    62.5% {top:509px; background-position: -1448px -488px;}
    75% {top:569px; background-position: -1448px -488px;}
    87.5% {top:629px; background-position: -1448px -488px;}
    100% {background-position: -1448px -488px;}
}

/*---------------------------------------- Enemies ----------------------------------------*/

.enemies{
    width: 64px;
    height: 80px;
    transform: scale(0.7);
    position: absolute;
    right: 0;
    top: 770px;
    background: url('../images/enemies.png') left center;
    z-index: -3;
    animation: enemyWalk 0.6s steps(2) infinite;
}

@keyframes enemyWalk {
    0% { background-position: -360px -608px;}
    100% {background-position: -596px -608px;}
}

.flyingEnemies{
    width: 64px;
    height: 94px;
    transform: scale(0.5);
    position: absolute;
    right: 0;
    top: 626px;
    background: url('../images/enemies.png') left center;
    z-index: -2;
    animation: flyingEnemies 0.6s steps(2) infinite;
}

@keyframes flyingEnemies {
    0% { background-position: -360px -122px;}
    100% {background-position: -596px -122px;}
}

/*---------------------------------------- Coin ----------------------------------------*/

.coin{
    width: 40px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 500px;
    background: url('../images/items.png') left center;
    z-index: -1;
    animation: coinMove 0.6s steps(4) infinite;
}

@keyframes coinMove {
    0% { background-position: -512px -378px;}
    100% {background-position: -980px -378px;}
}

/*---------------------------------------- Heart ----------------------------------------*/

.heart{
    width: 32px;
    height: 34px;
    transform: scale(2);
    position: absolute;
    left: 180px;
    top: 720px;
    background: url('../images/heart.png') left center;
    z-index: 1;
    animation: heartMove 0.7s steps(7);
}

@keyframes heartMove {
    0% { background-position: -24px -56px;}
    100% {background-position: -314px -56px;}
}

.lifeLost{
    position: absolute;
    left: 155px;
    top: 650px;
}

