
.background{
    position: absolute;
    background-attachment: fixed;
    background:  url("../images/background.png") repeat;
    width: 255px;
    height: 240px;
    animation: backgroundMove 7s linear infinite;
}

@keyframes backgroundMove {
    from {
        background-position: 0px 0px;
    }
    to {
        background-position: -256px 0px;
    }
}
    

.player{
    width: 16px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 176px;
    background: url('../images/marioSheet.png') left center;
    animation: walk 0.45s steps(3) infinite;
}

@keyframes walk {
    0% { background-position: -239px -52px;}
    100% {background-position: -327px -52px;}
}

.playerJump{
    width: 16px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 140px;
    background: url('../images/marioSheet.png') left center;
    animation: jump 2s steps(1) infinite;
}

@keyframes jump {
    0% { background-position: -359px -52px;}
    100% {background-position: -375px -52px;}
}

.player2{
    width: 16px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 176px;
    background: url('../images/marioSheet.png') left center;
    animation: walk2 0.6s steps(3) infinite;
}

@keyframes walk2 {
    0% { background-position: -237px -122px;}
    100% {background-position: -312px -122px;}
}