*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    font: Arial;
}

a{
    color: black;
    text-decoration:none;
}

a:visited{
    color: black;
}

section {
    display: flex;
}

h1 {
    font: 48px Arial;
}

h2 {
    font: 36px Arial;
}

h3 {
    font: 24px Arial;
}

h4 {
  font: 18px Arial;  
}

h5{
    font: 14px Arial;
}

/*---------------------------------------------        ---------------------------------------------*/
/*--------------------------------------------- Header ---------------------------------------------*/
/*---------------------------------------------        ---------------------------------------------*/

header {
    position: fixed;
    background-color: #FFFFFF;
    width: 100%;
    height: 85px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.container-logo {
    background-color: #FFFFFF;
    text-align: center;
}

.container-searchBar {
    background-color: #FFFFFF;
}

.container-profileHeader {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 40px;
}

.container-profile:hover {
    background-color: #C1E5E8;   
}

.img-logo {
    position: relative;
    height: 85px;
}

.input-searchBar {
    background-color: #EFF0F4;
    font: 18px Arial;
    position: relative;
    top: 22%;
    left: 20%;
    width: 60%;
    height: 42.5px;
    border-radius: 30px;
    border: 0;
    padding-left: 20px;
}

.img-logoutProfile{
    position: absolute;
    right: 10px;
    top: 30px;
    height: 35px;
    color: black;
}

/*---------------------------------------------      ---------------------------------------------*/
/*--------------------------------------------- Left ---------------------------------------------*/
/*---------------------------------------------      ---------------------------------------------*/

.aside-left {
    position: fixed;
    left: 0;
    top: 85px;
    background-color: #EFF0F4;
    width: 20%;
    height: 772px;
    padding: 40px 0 40px 0;
}

.img-navBar {
    width: 50px;
}

.button-nav {
    background-color: #EFF0F4;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 40px;
    border: 0px;
}

.button-nav:hover {
    background-color: #C1E5E8;   
}

.h3-navBar {
    padding-left: 30px;
}

.h4-navBar {
    padding-left: 40px;
    margin: 40px 0 0 0;
    font-size: 28px;
}

.img-profile {
    width: 70px;
    height: 70px;
    border-radius: 100%;
}

.container-profile {
    background-color: #EFF0F4;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 40px;
}

/*---------------------------------------------       ---------------------------------------------*/
/*--------------------------------------------- Right ---------------------------------------------*/
/*---------------------------------------------       ---------------------------------------------*/

.aside-right {
    position: fixed;
    right: 0%;
    top: 85px;
    background-color: #EFF0F4;
    width: 20%;
    height: 772px;
    text-align: center;
    padding: 40px 0 40px 0;
}

.img-publicity {
    height: 200px;
    width: 297px;
    padding-bottom: 82px;
}

/*---------------------------------------------      ---------------------------------------------*/
/*--------------------------------------------- Main ---------------------------------------------*/
/*---------------------------------------------      ---------------------------------------------*/

main {
    position: relative;
    left: 384px;
    top: 85px;
    background-color: #EFF0F4;
    width: 60%;
    height: 772px;
    padding: 40px 0 40px 0;
    overflow-y: auto;
}

main::-webkit-scrollbar {
    display: none;
}

.h4-stories {
margin: 0;
}

/*--------------------------------------------- Stories ---------------------------------------------*/
.container-stories{
    width: 1032px;
    background-color: #FFFFFF;
    margin: 0 40px 0 40px; 
}

.subcontainer-stories {
    display: grid;
    grid: 1fr / auto-flow 120px;
    overflow-x: auto;
    padding: 10px 0px 10px 40px;
}

.subcontainer-stories::-webkit-scrollbar {
    display: none;
}

.img-stories {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid #16BAC6;
}

/*--------------------------------------------- WritePost ---------------------------------------------*/

.container-writePost {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 30px 40px 30px 40px;
    width: 1032px;
}

.container-writePostTop{
    display: flex;
    align-items: center;
}

.input-writePost{
    background-color: #EFF0F4;
    font: 24px Arial;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    border: 0;
    border-radius: 30px;
    margin: 0 20px 0 20px;
}

.container-writePostBottom{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin-left: 85px;
}

.img-writePost {
    width: 35px;
    margin: 0 15px 0 15px;
}

.button-writePost{
    background-color: #16BAC6;
    height: 40px;
    width: 300px;
    border: 0;
    border-radius: 30px;
    margin-left: 368px;
    font: 24px Arial;
    box-shadow: 0px 0px 12px -2px #195f6b78;
}

.button-writePost:hover {
    background-color: #195F6B;
    color: #FFFFFF;
}

/*--------------------------------------------- Post ---------------------------------------------*/

.a-postProfile{
    display: flex;
    align-items: center;
}

.container-postText{
    margin: 20px 0 20px 0;
}

.container-postReactions{
    display: flex;
    align-items: center;
}

.img-postReactions{
    width: 35px;
    margin: 0 5px 0 20px;
}

.container-postActions{
    display: flex;
    text-align: center;
    margin-top: 20px;
}

.button-postAction{
    display: flex;
    text-align: center;
    align-items: center;
}

.container-postAllComments{
    display: flex;
    justify-content: center;
}

.button-allComments{
    background-color: #195F6B;
    height: 40px;
    width: 300px;
    border: 0;
    border-radius: 30px;
    margin-top: 20px;
    font: 24px Arial;
    color: white;
    box-shadow: 0px 0px 12px -2px #195f6b78;
}

.button-allComments:hover {
    background-color: #16BAC6;
    color: black;
}

.container-postImg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.img-postImg{
    border-radius: 10px;
    width: 952px;
    max-height: 500px;
}

/*---------------------------------------------         ---------------------------------------------*/
/*--------------------------------------------- Profile ---------------------------------------------*/
/*---------------------------------------------         ---------------------------------------------*/

.container-portrait{
    position: relative;
    width: 1072px;
    height: 300px;
    margin: 0px 40px 20px 40px;
    display: flex;
    align-items: center;
}

.container-portraitImgBlur{
    position: absolute;
    background-image: url(../Img/animal2.jpg);
    width: 1072px;
    height: 300px;
    filter: blur(2px) brightness(70%);
    z-index: 5;
}

.container-portraitProfileAndName{
    margin: 0 auto;
    text-align: center;
    z-index: 7;
}

.img-portraitProfile{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.h1-profileName{
    color: #FFFFFF;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.container-profileButtons{
    width: 1072px;
    margin: 0px 40px 20px 40px;
}

.container-profilePersonalizedBoxes{
    width: 1072px;
    margin: 0px 40px 30px 40px;
    height: 348px;
}

.h3-profile{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h3-profile:hover{
    text-decoration: underline;
}

.h4-profile{
    color: #195F6B;
    text-decoration: underline;
}

.h4-profile:hover{
    color: #16BAC6;
}

.h4-profileEdit{
    text-decoration: none;
    color: black;
}

/*.button-profilePublications{
    height: 40px;
    width: 352px;
    background: #16BAC6;
    border: 1px solid #195F6B;
    border-radius: 20px 0 0 20px;
    font: 24px Arial;
    box-shadow: 0px 0px 12px -2px #195f6b78;
}

.button-profilePublications:hover {
    background-color: #195F6B;
    color: #FFFFFF;
}

.button-profilePhotos{
    height: 40px;
    width: 352px;
    background: #16BAC6;
    border: 1px solid #195F6B;
    font: 24px Arial;
    box-shadow: 0px 0px 12px -2px #195f6b78;
}

.button-profilePhotos:hover {
    background-color: #195F6B;
    color: #FFFFFF;
}

.button-profileConnections{
    height: 40px;
    width: 352px;
    background: #16BAC6;
    border: 1px solid #195F6B;
    border-radius: 0 20px 20px 0;
    font: 24px Arial;
    box-shadow: 0px 0px 12px -2px #195f6b78;
}

.button-profileConnections:hover {
    background-color: #195F6B;
    color: #FFFFFF;
}*/

.container-profilePersonalizedBoxes{
    display: flex;
}

.container-profileAboutYou{
    background-color: #FFFFFF;
    width: 344px;
    padding: 0 20px;
    margin-right: 5px;
}

.container-profilePhotos{
    background-color: #FFFFFF;
    width: 344px;
    padding: 0 20px;
    margin: 0 5px;
}

.container-profileConnections{
    background-color: #FFFFFF;
    width: 344px;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-left: 5px;
}

.subContainer-profilePhotos{
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
    row-gap: 10px;
    
}

.img-profilePhoto{
    width: 153px;
    height: 140px;
}

/*---------------------------------------------       ---------------------------------------------*/
/*--------------------------------------------- Login ---------------------------------------------*/
/*---------------------------------------------       ---------------------------------------------*/

.img-backgroundLogin{
    position: absolute;
    background-image: url(../Img/vetBackground1.jpg);
    width: 1920px;
    height: 936px;
    filter: blur(2px) brightness(70%);
}

.container-LogoLogin{
    background-color: #C1E5E8;
    position: absolute;
    top: 374px;
    left: 20%;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-login{
    position: absolute;
    top: 238px;
    left: 60%;
    height: 401px;
    width: 440px;
    padding-top: 40px;
    background-color: #C1E5E8;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.input-login{
    width: 340px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font: 24px Arial;
    color: black;
    padding-left: 20px;
}

.input-loginError{
    border: 1px solid #BE0000;
}

.button-login{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 360px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font: 36px Arial;
    background-color: #16BAC6;
}

.h5-forgotPassword{
    font: 14px Arial;
    color: #195F6B;
}

.line-login{
    margin-top: 20px;
    border: 1px solid black;
}

.button-signUp{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 360px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    margin-top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font: 36px Arial;
    color: white;
    background-color: #195F6B;
}

.button-signUp:visited{
    color: white;
}

.h5-errorLogin{
    color: #BE0000;
    margin-top: -20px;
    margin-bottom: 2px;
}

/*---------------------------------------------          ---------------------------------------------*/
/*--------------------------------------------- Register ---------------------------------------------*/
/*---------------------------------------------          ---------------------------------------------*/

.form-register{
    position: absolute;
    top: 163px;
    left: 60%;
    height: 551px;
    width: 420px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #C1E5E8;
    border-radius: 30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-align: center;
}

.input-register{
    margin-bottom: 20px;
}

.h2-register{
    padding-bottom: 20px;
}

.container-labelRegister{
    font: 16px Arial;
    position: relative;
    left: -150px;
    padding-bottom: 2px;
}

.label-email{
    position: relative;
    left: -80px;
}

.label-gender{
    position: relative;
    left: -156px;
}

.container-radioRegister{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: 180px;
    height: 45px;
    border: 0;
    border-radius: 5px;
    margin-top: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font: 36px Arial;
    color: white;
    background-color: #195F6B;
}

.signUpRegister{
    margin-top: 18px;
}