*{
    font-family: Arial, Helvetica, sans-serif;
}

.canva{
    border: 3px solid black;
}

p{
    font-weight: bold;
}

button{
    margin: 2px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(164, 202, 248);
}

.colorpicker{
    margin: 2px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 12px 30px;
    cursor: pointer;
    background-color: rgb(164, 202, 248);
}

.containerTodo{
    display: flex;
    justify-content: center;
    background-color:rgb(255, 201, 170);
    border: 3px solid black;
    padding: 10px;
}

.containerButtons{
    padding: 0 20px;
}

#inputFile{
    margin: 2px;
    border: 2px solid black;
    border-radius: 7px;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(164, 202, 248);
}